* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

section {
  margin: 70px;
}

.navbar {
  height: 80px;
  width: 100%;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
}

.air-logo {
  height: 40px;
  width: auto;
  position: relative;
  top: 20px;
  left: 70px;
}

.photog {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.air-grid {
  height: 450px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  justify-content: center;
}

.card {
  width: 245px;
  font-size: 13px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column;
  position: relative;
}

.card--image {
  width: 100%;
  height: 327.59px;
  border-radius: 9px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.card--star {
  height: 13px;
  color: #FF385C;
  padding: 0px 5px 0px 0px;
}

.card--price {
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
  font-size: 13px;
}

.gray {
  color: #918E9B;
}
