* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

.navbar {
  height: 80px;
  width: 100%;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
}

.air-logo {
  height: 40px;
  width: auto;
  position: relative;
  top: 20px;
  left: 70px;
}

.hero-section {
  margin: 70px;
}

.photog {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.air-grid {
  height: 400px;
}